<div class="w-full p-3 mt-10 bg-white">
    <span class="text-sm font-medium text-gray-500">2024© <span class="cursor-pointer hover:text-blue-700">.NET
            Backend</span>
    </span>
</div>


<script src="~/js/admin/dropdownButton.js"></script>