<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2025 - .NET Project - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>





<script src="~/lib/swiper/swiper-bundle.min.js"></script>


<script src="~/js/components/SwiperSlider.js" asp-append-version="true"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@* @await RenderSectionAsync("Scripts", required: false) *@
